<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2088368257-79bkn5bfdvljktv8pe6h5cf21raqjl1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2088368257-79bkn5bfdvljktv8pe6h5cf21raqjl1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBDA3yiVKLQSx8Rj8CwWK6X6mgNxPYltOE</string>
	<key>GCM_SENDER_ID</key>
	<string>2088368257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotcode.jiutrack</string>
	<key>PROJECT_ID</key>
	<string>jiutrack</string>
	<key>STORAGE_BUCKET</key>
	<string>jiutrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2088368257:ios:1e41ff30611192c2f8b580</string>
</dict>
</plist>